<div id="manager" >
  <div class="row">
    <div class="col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
 <!-- <div class="manager-content" style="padding-top: 6%;">  -->    
        <form class="taskmaker" action="/login" method="POST">
      <div class=" container">
        <div class="row m-0">
          <div class="col-sm-12 col-md-12 col-lg-12 mt-50">
             <h1>KRONOS</h1>
            </div>
        </div>
       
        <div class="row m-0">
           <div class="col-sm-12 col-md-12 col-lg-4 login-btn">
             <h4> Welcome, {{user.username}}!</h4>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 login-btn">
             <button href="/new-task"  class="myBtn" type="submit">Create Task</button>
            </div>
             <div class="col-sm-12 col-md-12 col-lg-4 login-btn">
              <button href="/info&goals"  class="myBtn" type="submit">Update Info & Goals</button>
            </div>
         
        </div>
       <div class="row m-0">
         <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4">
            {{#if isTodo}}
  
    <h3>To Do</h3>
    {{#each todo}}
    <div class="dropdown login-btn" >
      <button class="list-group-item ToDo list-group-item-action list-group-item-dark dropdown-toggle" type="button"
        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <span>Task:{{this.title}} </span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
          
            <div class="card-body">
              <h4 class="card-title"><b>{{this.title}} </b> </h4>
              <div class="card-text">
              <h6>Description:</h6> 
              <p class="dropdown-p">{{this.description}} </p>
              </div>
             <div class="loginform">
                <a class="myBtn" href="/tasks/{{this.id}}/edit">Update</a>
              
             </div>
             <div class="loginform">
             <a class="myBtn red" href="/tasks/{{this.id}}/delete">Delete</a>
             </div>
            </div>
          
        </li>
      </ul>
    </div>
    {{/each}}

  {{else}}
  
    <h3>To Do</h3>
  
  {{/if }}           
    </div>
             
         <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4">
           {{#if isInProgres}}
  
    <h3>In Progress</h3>
    {{#each pending}}
    <div class="dropdown login-btn">
      <button class="list-group-item inProgress list-group-item-action list-group-item-dark dropdown-toggle" type="button"
        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <span>Task:{{this.title}} </span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
          
            <div class="card-body">
              <h4 class="card-title"><b>{{this.title}} </b> </h4>
              <div class="card-text">
              <h6>Description:</h6> 
              <p class="dropdown-p">{{this.description}} </p>
              </div>
             <div class="loginform">
                <a class="myBtn" href="/tasks/{{this.id}}/edit">Update</a>
              
             </div>
             <div class="loginform">
             <a class="myBtn red" href="/tasks/{{this.id}}/delete">Delete</a>
             </div>
            </div>
          
        </li>
      </ul>
    </div>
    {{/each}}
  
  {{else}}
 
    <h3>In Progres</h3>
  
  {{/if }}
 </div>

 <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4">
    {{#if isDone}}
  
    <h3>Done</h3>
    {{#each doneTasks}}
    <div class="dropdown login-btn">
      <button class="list-group-item Done list-group-item-action list-group-item-dark dropdown-toggle" type="button"
        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <span>Task:{{this.title}} </span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
          
            <div class="card-body">
              <h4 class="card-title"><b>{{this.title}} </b> </h4>
              <div class="card-text">
              <h6>Description:</h6> 
              <p class="dropdown-p">{{this.description}} </p>
              </div>
             <div class="loginform">
                <a class="myBtn" href="/tasks/{{this.id}}/edit">Update</a>
              
             </div>
             <div class="loginform">
             <a class="myBtn red" href="/tasks/{{this.id}}/delete">Delete</a>
             </div>
            </div>
          
        </li>
      </ul>
    </div>
    {{/each}}
  
  {{else}}
 
    <h3>Done</h3>
 
  {{/if }}
   
 </div>

       </div>
     


       
  </div>
  </form>
</div>
</div>
</div>

</div></div>
</div>


