
<form action="/new-task" method="POST">
  <div class="form">
    <label class="form-label" >Title</label>
    <input type="text" class="form-control" name="title">
  </div>
    <div class="mb-3">
    <label  class="form-label">description</label>
    <input type="text" class="form-control" name="description">
  </div>
<div class="input-group-prepend">
    <label class="input-group-text" for="department">Department</label>
  </div>
  <select class="custom-select" id="department" name="department" multiple>
    <option selected>Choose.......................................</option>
  {{#each departments}}
    <option value="{{this}}">{{this}}</option>
  {{/each}}
  </select>
</div>
<div> 
<select class="custom-select" id="inputGroupSelect01" name="asignedTo" multiple>
    <option selected>Choose...</option>
  {{#each data}}
    <option value="{{this.id}}">{{this.username}}</option>
  {{/each}}
  </select>
</div>
    
  <button type="submit">Create</button>
</div>

{{#if msg}}
<br>
<div class="alert alert-danger" role="alert">
{{msg}}
</div>
{{/if}}