  <h2> {{tasks.title}}</h2> 

<h3>Status:      {{tasks.status}} <br>
Department:  {{tasks.department}} <br>
Description: {{tasks.description}} <br>
Assigned To: {{tasks.asignedTo.username}} </h3>
<br>
<button type="submit" class="bnt btn-outline-dark">Edit</button>
<button type="submit" class="bnt btn-outline-dark">Delete</button>
