<div id="signup" class="section1">
  <div class="taskmaker">
    <form  class="taskmaker" style="background: transparent;" action="/new-task" method="POST">
      <p class="main-title">KRONOS</p>
      <h3>Create a new task</h3>
      <div class=" container">
      
        <label class="form-label">Title</label>
        <input type="text" class="form-control" name="title">
      
      <div class="mt-3 ">
        <label class="form-label">Description</label>
        <input type="text" class="form-control" name="description">
      </div>
      <div class="mt-3 ">
        <label class="form-label" for="department">Department</label>
      </div>
      <select class="form-select" name="department" aria-label="Default select example">
        <option value="disabled " disabled>Choose Department</option>
        {{#each departments}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
      <div class="mt-3 ">
        <label class="form-label" for="asignedTo">Assign To:</label>
      </div>
      <select class="form-select" id="inputGroupSelect01" name="asignedTo" aria-label="Default select example">
        <option value="disabled " disabled>Asign the task to</option>
        {{#each data}}
        <option value="{{this.id}}">{{this.username}}</option>
        {{/each}}
      </select>
      <button type="submit" class="myBtn login-btn">Create</button>
    </form>
      </div>
{{#if msg}}
<br>
<div class="alert alert-danger" role="alert">
  {{msg}}
</div>
{{/if}}