<div class="taskmaker">
 <form action="/new-task" method="POST" >
    <div class="form">
      <label class="form-label" >Title</label>
      <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-3 form">
      <label  class="form-label">Description</label>
      <input type="text" class="form-control" name="description">
    </div>
    <div class="input-group-prepend">
      <label class="input-group-text form" for="department">Department</label>
    </div>
    <select class="form-select selector" id="department" name="department" aria-label="Default select example">
      <option value="disabled " disabled>Choose Department</option>
        {{#each departments}}
          <option value="{{this}}">{{this}}</option>
       {{/each}}
    </select>
   <div> 
     <label class="input-group-text form" for="department">Assign To:</label>
   </div>
      <select class="form-select selector" id="inputGroupSelect01" name="asignedTo" aria-label="Default select example"  >
         <option value="disabled " disabled>Asign the task to</option>
         {{#each data}}
           <option value="{{this.id}}">{{this.username}}</option>
         {{/each}}
       </select>
      <div class="mb-3">
       <label  class="form-label ">Assigned By</label>
       <input type="text" class="form-control selector " name="asignedBy" placeholder="{{user.username}}" disabled>
       </div>
      <button type="submit" class="btn btn-outline-light">Create</button>
     </form>
  </div>

{{#if msg}}
<br>
<div class="alert alert-danger" role="alert">
{{msg}}
</div>
{{/if}}