<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>


{{!-- to be edited --}}
  <h2>Tasks</h2>
   {{#each tasks}}
    <a href="/tasks/{{this.id}}">  Task:  {{this.title}}         |         Status:      {{this.status}} </a> <br>
   
    
<select class="custom-select" id="department" name="department" multiple>
    <option selected>Choose.......................................</option>
  {{#each departments}}
    <option value="{{this}}">{{this}}</option>
  {{/each}}

<select name="department" id="department" disabled="disabled"></select>
 {{/each}}  